//@font-face {
//  font-family: "Upheaval TT (BRK)";
//  src: url("../fonts/upheavtt.ttf");
//}
//
//@font-face {
//  font-family: "Pixellari";
//  src: url("../fonts/Pixellari.ttf");
//}

@font-face {
  font-family: 'Pixellari';
  src: url('../fonts/pixellari-webfont.woff2') format('woff2'),
       url('../fonts/pixellari-webfont.woff') format('woff'),
       url('../fonts/Pixellari.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Upheaval TT (BRK)';
  src: url('../fonts/upheavtt-webfont.woff2') format('woff2'),
       url('../fonts/upheavtt-webfont.woff') format('woff'),
       url('../fonts/upheavtt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}
