html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  margin: 0;
  padding: 0;
}

body {
  background: url('../../images/BG.svg') no-repeat fixed, #0D121B;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: "Pixellari", sans-serif;
}
